# Images for services defined in this file are available at:
#   ghcr.io/montehurd/mediawiki-docker-images/#SERVICE_NAME#:latest

services:

  novnc:
    build:
      context: .
      dockerfile: novnc/Dockerfile
    image: ${REGISTRY:-}novnc:latest
    environment:
      - NOVNC_PORT=8087
    ports:
      - 8087:8087
    # To test locally, after 'docker compose up' use:
    # http://localhost:8087/vnc_lite.html?autoconnect=true
    # or
    # http://localhost:8087/vnc.html?autoconnect=true

  mysql:
    build:
      context: .
      dockerfile: mysql/Dockerfile
    image: ${REGISTRY:-}mysql:latest

  codex:
    build:
      context: .
      dockerfile: codex/Dockerfile
    image: ${REGISTRY:-}codex:latest
    ports:
      - 5173:5173
    # To test locally, after 'docker compose up' use:
    # http://localhost:5173

  selenium:
    build:
      context: .
      dockerfile: selenium/Dockerfile
    image: ${REGISTRY:-}selenium:latest

  qunit:
    build:
      context: .
      dockerfile: qunit/Dockerfile
    image: ${REGISTRY:-}qunit:latest

  lint:
    build:
      context: .
      dockerfile: lint/Dockerfile
    image: ${REGISTRY:-}lint:latest

  mediawiki:
    build:
      context: .
      dockerfile: mediawiki/Dockerfile
    image: ${REGISTRY:-}mediawiki:latest

  tofu:
    build:
      context: .
      dockerfile: tofu/Dockerfile
    image: ${REGISTRY:-}tofu:latest

  ansi2html:
    build:
      context: .
      dockerfile: ansi2html/Dockerfile
    image: ${REGISTRY:-}ansi2html:latest